@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color:#F59E0B;
    --cool-gray: #9CA3AF;
    --off-white: #D1D5DB;
}

hr {
    margin: 3rem 0rem;
}

body {

    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 1rem 0rem;
}






/**  container  **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/** link**/
.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.link-primary {
    box-sizing: border-box;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin: 0rem;
}

/** look into BEM naming convention for CSS **/

/** list**/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
    list-style: none;

}


.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem ;
    border-bottom-right-radius: 2rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 10rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.blog-img {
    max-width: 500px;
    display: block;
    margin: auto;
}


.hero .hero-heading {
    text-align: center;
    color: var(--cool-gray);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
    text-align: center;
}

.section h1 {
    text-align: center;
}




.ow {
    background-color: var(--off-white);
    max-width: 60%;
    margin: auto;
    border-radius: 2rem;
    text-align: center;

}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-top: 2rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}